{% extends 'admin/modal.html.twig' %}

{% block modal_id %}members_modal{% endblock %}
{% block modal_title %}{{ page_name }}{% endblock %}
{% block modal_body %}<div id="loading" style="width: 100%;display: block;text-align: center;"><div class="m-spinner m-spinner--primary m-spinner--lg"></div></div>{% endblock %}
